@import "../../index.scss";

.services__contentServices {
  width: 100%;
  background-color: $color_black;
  border-radius: 50px;
  position: relative;
  padding-bottom: 50px;
}
.contentServices__lights {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 790px;
  border-bottom-right-radius: 50px;
}
.contentServices__titleBlock {
  margin: 116px 70.5px 0 70.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleBlock__titleServices {
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.titleServices__span {
  color: $color_orange;
}
.titleBlock__text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.services__serviceCardsBlock {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
}
.serviceCardsBlock__serviceCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 508px;
  width: 416px;
  background-color: rgba(104, 104, 104, 0.2);
  backdrop-filter: blur(7.5px);
  border: 2px solid rgba(255, 255, 255, 0.432);
  border-radius: 50px;
  opacity: 0;
}
.serviceCardsBlock__serviceCard.active {
  animation-name: animation-service-cards;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.serviceCardsBlock__serviceCard:nth-child(1) {
  animation-delay: 0s;
}
.serviceCardsBlock__serviceCard:nth-child(2) {
  animation-delay: 0.5s;
}
.serviceCardsBlock__serviceCard:nth-child(3) {
  animation-delay: 1s;
}
@keyframes animation-service-cards {
  0% {
    width: 100px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.serviceCard__titleCard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.432);
  display: flex;
  align-items: center;
  padding: 10px 0 0 37px;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.serviceCard__frontLayer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 307px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontLayer__img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.serviceCard__middleLayer {
  position: absolute;
  bottom: 0;
  width: 374px;
  height: 307px;
  background-color: #9e9d9d;
  border-radius: 50px;
  margin-bottom: 22px;
}
.serviceCard__lastLayer {
  position: absolute;
  bottom: 0;
  width: 328px;
  height: 307px;
  background-color: #757575;
  opacity: 0.5;
  border-radius: 50px;
  margin-bottom: 44px;
}
.cardButton__btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  background-color: #1d2939;
}
.cardButton__img {
  width: 72px;
  height: 72px;
  transition: 0.3s;
}
.cardButton__btn:hover .cardButton__img {
  transform: scale(1.2);
}
@media (max-width: 1530px) {
  .services__serviceCardsBlock {
    grid-template-columns: repeat(
      auto-fit,
      calc(320px + (416 - 320) * ((100vw - 767px) / (1530 - 767)))
    );
    gap: calc(60px + (60 - 60) * ((100vw - 767px) / (1530 - 767)));
  }
  .serviceCardsBlock__serviceCard {
    width: calc(340px + (416 - 340) * ((100vw - 767px) / (1530 - 767)));
  }
  .serviceCard__lastLayer {
    width: calc(285px + (328 - 285) * ((100vw - 767px) / (1530 - 767)));
  }
  .serviceCard__middleLayer {
    width: calc(310px + (374 - 310) * ((100vw - 767px) / (1530 - 767)));
  }
  .cardButton__btn {
    width: calc(110px + (121 - 110) * ((100vw - 767px) / (1530 - 767)));
    height: calc(110px + (121 - 110) * ((100vw - 767px) / (1530 - 767)));
  }
  .contentServices__titleBlock {
    margin-top: calc(60px + (116 - 60) * ((100vw - 767px) / (1530 - 767)));
    margin-left: calc(
      28.5px + (70.5 - 28.5) * ((100vw - 767px) / (1530 - 767))
    );
    margin-right: calc(
      28.5px + (70.5 - 28.5) * ((100vw - 767px) / (1530 - 767))
    );
  }
  .titleBlock__titleServices {
    font-size: calc(40px + (48 - 40) * ((100vw - 767px) / (1530 - 767)));
  }
  .titleBlock__text {
    font-size: calc(16px + (20 - 16) * ((100vw - 767px) / (1530 - 767)));
  }
}
@media (max-width: 767px) {
  .services__contentServices {
    border-radius: calc(20px + (50 - 20) * ((100vw - 320px) / (767 - 320)));
  }
  .contentServices__lights {
    display: none;
  }
  .services__serviceCardsBlock {
    gap: calc(35px + (60 - 35) * ((100vw - 320px) / (767 - 320)));
  }
  .serviceCardsBlock__serviceCard {
    width: calc(310px + (340 - 310) * ((100vw - 320px) / (767 - 320)));
    height: calc(420px + (508 - 420) * ((100vw - 320px) / (767 - 320)));
  }
  .serviceCard__titleCard {
    height: calc(85px + (100 - 85) * ((100vw - 320px) / (767 - 320)));
  }
  .serviceCard__frontLayer {
    height: calc(250px + (307 - 250) * ((100vw - 320px) / (767 - 320)));
  }
  .serviceCard__middleLayer {
    width: calc(280px + (310 - 280) * ((100vw - 320px) / (767 - 320)));
    height: calc(250px + (307 - 250) * ((100vw - 320px) / (767 - 320)));
  }
  .serviceCard__lastLayer {
    width: calc(260px + (285 - 260) * ((100vw - 320px) / (767 - 320)));
    height: calc(250px + (307 - 250) * ((100vw - 320px) / (767 - 320)));
  }
  .cardButton__btn {
    width: calc(90px + (110 - 90) * ((100vw - 320px) / (767 - 320)));
    height: calc(90px + (110 - 90) * ((100vw - 320px) / (767 - 320)));
    right: calc(-5px + (-20 - -5) * ((100vw - 320px) / (767 - 320)));
  }
  .contentServices__titleBlock {
    flex-direction: column;
  }
}
