@import "../../index.scss";

.portfolioBlock {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
.portfolioBlock__mainBlock {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.mainBlock__title {
  font-size: 48px;
  font-weight: 700;
  color: $color_dark_blue;
}
.mainBlock__btn {
  width: 144px;
  height: 66px;
  background-color: $color_orange;
  border-radius: 60px;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #fff;
}
.mainBlock__btn:hover {
  animation-name: btn-seeAll;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.portfolioBlock__myProjects {
  padding: 48px 71px 0 71px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}
.myProject__projectCard {
  width: 416px;
  display: flex;
  flex-direction: column;
}
.projectCard__projectImg {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectImg__img {
  width: 100%;
  border-radius: 32px;
}
.projectImg__button {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 110px;
  height: 110px;
  background-color: $color_dark_blue;
  border-radius: 57px;
}
.button__arrow {
  width: 72px;
  transition: 0.3s;
}
.button__arrow:hover {
  transform: scale(1.08);
}
.projectCard__projectCategory {
  padding: 0 15px 0 15px;
  margin-top: 35px;
  width: fit-content;
  height: 54px;
  border-radius: 24px;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.projectCard__projectData {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.projectData__dataBlock {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.dataBlock__ellipse {
  width: 9px;
  height: 9px;
  background-color: $color_orange;
  margin-right: 7.5px;
  border-radius: 57px;
}
.dataBlock__title {
  font-size: 20px;
  font-weight: 400;
  color: $color_dark_blue;
}
.projectData__info {
  margin-top: 35px;
  font-size: 32px;
  font-weight: 400;
  color: #344054;
}
@include animation-btn-hover("btn-seeAll", #fff, $color_orange, $color_orange);

@media (max-width: 1530px) {
  .portfolioBlock__myProjects {
    padding: 48px 0 0 0;
    justify-content: center;
    grid-template-columns: repeat(
      auto-fit,
      calc(360px + (460 - 360) * ((100vw - 767px) / (1530 - 767)))
    );
    gap: calc(10px + (30 - 10) * ((100vw - 767px) / (1530 - 767)));
  }
  .myProject__projectCard {
    width: calc(360px + (416 - 360) * ((100vw - 767px) / (1530 - 767)));
  }
  .projectData__info {
    font-size: calc(30px + (32 - 30) * ((100vw - 767px) / (1530 - 767)));
  }
}
@media (max-width: 767px) {
  .portfolioBlock {
    margin-bottom: calc(50px + (200 - 50) * ((100vw - 320px) / (767 - 320)));
  }
  .projectImg__button {
    width: calc(90px + (110 - 90) * ((100vw - 320px) / (767 - 320)));
    height: calc(90px + (110 - 90) * ((100vw - 320px) / (767 - 320)));
    bottom: calc(-30px + (-20 - -30) * ((100vw - 320px) / (767 - 320)));
    right: calc(-15px + (-20 - -15) * ((100vw - 320px) / (767 - 320)));
  }
  .projectCard__projectCategory {
    height: calc(50px + (54 - 50) * ((100vw - 320px) / (767 - 320)));
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (767 - 320)));
  }
  .dataBlock__title {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (767 - 320)));
  }
  .projectData__info {
    font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (767 - 320)));
  }
  .portfolioBlock__myProjects {
    gap: calc(65px + (10 - 65) * ((100vw - 320px) / (767 - 320)));
  }
  .mainBlock__title {
    font-size: calc(40px + (48 - 40) * ((100vw - 320px) / (767 - 320)));
  }
  .mainBlock__btn {
    width: calc(115px + (144 - 115) * ((100vw - 320px) / (767 - 320)));
    height: calc(55px + (66 - 55) * ((100vw - 320px) / (767 - 320)));
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (767 - 320)));
  }
}
