@import "../../index.scss";

.projectIdeaBlock {
  padding: 200px 0 200px 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectIdeaBlock__title {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  color: $color_dark_blue;
}
.projectIdeaBlock__title__span {
  color: $color_orange;
}
.projectIdeaBlock__projectIdea {
  width: 832px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectIdea__inputBlock {
  margin-bottom: 10px;
  padding: 0 14px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 86px;
  border-radius: 50px;
  border: 1px solid #e4e7ec;
  backdrop-filter: blur(7.5px);
}
.inputBlock__imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  background: #ffead5;
}
.inputBlock__imgBlock::before {
  content: "";
  background-image: url("../../img/icon-email.svg");
  width: 32px;
  height: 32px;
}
.inputBlock__btn {
  width: 126px;
  height: 64px;
  border-radius: 60px;
  background-color: $color_orange;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: #fff;
  transition: 0.3s;
}
.inputBlock__btn:hover {
  background-color: #fff;
  color: $color_orange;
  border: 1px solid $color_orange;
}
.inputBlock__input {
  margin: 0 17px 0 17px;
  width: 600px;
  height: 60px;

  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.projectIdea__blockInfo {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blockInfo__content {
  display: flex;
  align-items: center;
}
.content__img {
  width: 24px;
  height: 24px;
}
.content__text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 1530px) {
  .projectIdeaBlock__title {
    font-size: calc(60px + (64 - 60) * ((100vw - 767px) / (1530 - 767)));
  }
  .projectIdeaBlock__projectIdea {
    width: calc(700px + (832 - 700) * ((100vw - 767px) / (1530 - 767)));
  }
  .inputBlock__imgBlock {
    width: calc(80px + (64 - 80) * ((100vw - 767px) / (1530 - 767)));
  }
}
@media (max-width: 767px) {
  .projectIdeaBlock {
    padding-top: calc(30px + (200 - 30) * ((100vw - 320px) / (767 - 320)));
    padding-bottom: calc(30px + (200 - 30) * ((100vw - 320px) / (767 - 320)));
  }
  .projectIdeaBlock__title {
    font-size: calc(27px + (60 - 27) * ((100vw - 320px) / (767 - 320)));
  }
  .projectIdeaBlock__projectIdea {
    margin-top: 15px;
    width: calc(300px + (700 - 300) * ((100vw - 320px) / (767 - 320)));
  }
  .projectIdea__inputBlock {
    padding-right: calc(5px + (14 - 5) * ((100vw - 320px) / (767 - 320)));
    padding-left: calc(20px + (14 - 20) * ((100vw - 320px) / (767 - 320)));
    height: calc(76px + (86 - 76) * ((100vw - 320px) / (767 - 320)));
  }
  .inputBlock__imgBlock {
    display: none;
  }
  .inputBlock__input {
    margin: 0;
    width: calc(170px + (600 - 170) * ((100vw - 320px) / (767 - 320)));
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (767 - 320)));
  }
  .inputBlock__btn {
    width: calc(100px + (126 - 100) * ((100vw - 320px) / (767 - 320)));
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (767 - 320)));
  }
  .content__img {
    width: calc(20px + (24 - 20) * ((100vw - 320px) / (767 - 320)));
    height: calc(20px + (24 - 20) * ((100vw - 320px) / (767 - 320)));
  }
  .content__text {
    font-size: calc(9px + (16 - 9) * ((100vw - 320px) / (767 - 320)));
  }
}
